# secrets
.env
*.key
*.pem
serviceAccount*.json

# python
__pycache__/
*.pyc
.venv/

# node
node_modules/

# logs / db / local data
*.log
*.db
data/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
